<div class="container mt-4">
  <h3>👩‍🏫 Teacher Management</h3>
  
  <form (ngSubmit)="createTeacher()" class="row g-2 mt-3">
    <div class="col-md-3">
      <input [(ngModel)]="newTeacher.name" name="name" class="form-control" placeholder="Name" required />
    </div>
    <div class="col-md-3">
      <input [(ngModel)]="newTeacher.email" name="email" type="email" class="form-control" placeholder="Email" required />
    </div>
    <div class="col-md-3">
      <input [(ngModel)]="newTeacher.password" name="password" type="password" class="form-control" placeholder="Password" required />
    </div>
    <div class="col-md-3">
      <button class="btn btn-success w-100">Add Teacher</button>
    </div>
  </form>

  <table class="table table-striped mt-4">
    <thead>
      <tr><th>ID</th><th>Name</th><th>Email</th><th>Actions</th></tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of teachers">
        <td>{{t.id}}</td>
        <td>{{t.name}}</td>
        <td>{{t.email}}</td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="deleteTeacher(t.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
