<h2>Register</h2>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <label>Name:</label><br>
  <input type="text" formControlName="name"><br><br>

  <label>Email:</label><br>
  <input type="email" formControlName="email"><br><br>

  <label>Password:</label><br>
  <input type="password" formControlName="password"><br><br>

  <label>Confirm Password:</label><br>
  <input type="password" formControlName="confirmPassword"><br><br>

  <label>Role:</label><br>
  <select formControlName="role">
    <option value="STUDENT">Student</option>
    <option value="TEACHER">Teacher</option>
  </select><br><br>

  <button type="submit">Register</button>

  <p class="auth-subtext" style="margin-top: 12px;">
    Already registered?
    <a routerLink="/login" routerLinkActive="active-link" class="text-blue-600 underline">
      Login here
    </a>
  </p>
</form>
<div *ngIf="errorMessage" class="d-flex justify-content-center mt-3">
  <div class="alert alert-danger w-75 text-center shadow-sm">
    {{ errorMessage }}
  </div>
</div>

